<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>

    <div class="col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center align-items-center my-5">
        <h1>Welcome Back {{us_name}}</h1>
    </div>

    <form class="d-flex justify-content-center align-items-center" action="{{ url_for('shorted') }}" method="post">
        <div class="form-group w-75">
            <label for="inputsm" class="fw-bold">Enter an https://
                URL</label>
            <input class="form-control input-sm" type="url" name="inp_url" placeholder="https://example.com" pattern="https://.*" required>
            <input class="my-2 btn btn-primary" type="submit" value="Short">
        </div>
    </form>


</body>

</html>